*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# working directories #
sdscc_hw/
sdscc_hw_21Nov/
src.bkp/
src_hw/
*.weights

# repo #
sdscc/_sds/
sdscc/darknet.elf
sdscc/darknet.elf.bit
sdscc/obj/
sdscc/sd_card.zip
sdscc_hw_1stconv/_sds/
sdscc_hw_1stconv/darknet.elf
sdscc_hw_1stconv/darknet.elf.bit
sdscc_hw_1stconv/obj/
src/gemm_nn.h

